#textdomain wesnoth-DoS

[scenario]
    id = 09_Final
    name = _ "Свин вступает в бой!"
    random_start_time=no
    experience_modifier=100
    map_data="{~add-ons/Deeds_of_Sir_Swine/maps/Final.map}"
    victory_when_enemies_defeated=no
    next_scenario=null
    carryover_percentage=0
    carryover_add=no
    {SCENARIO_MUSIC "frantic.ogg"}
    {EXTRA_SCENARIO_MUSIC "northerners.ogg"}
    {EXTRA_SCENARIO_MUSIC "dangerous_symphony.ogg"}
    {DEFAULT_SCHEDULE}
    current_time=2
    
    [story]
             [part]
              [background_layer]
               image=story/tavern.jpg
               scale_vertically=yes
               scale_horizontally=yes
               keep_aspect_ratio=yes
              [/background_layer]
              [background_layer]
               image=portraits/bard.png
               scale_vertically=no
               scale_horizontally=no
               keep_aspect_ratio=yes
              [/background_layer]
            story={CAPTION ( _ "Бард")} + _ "Тзе енд"
            music=tavern.ogg
        [/part]
    [/story]
    [label]
	category=""
	color="221,221,221"
	immutable=yes
	side=0
	team_name=""
	text="Пограничная башня Гракка"
	tooltip=""
	visible_in_fog=yes
	visible_in_shroud=no
	x=18
	y=14
[/label]
[label]
	category=""
	color="221,221,221"
	immutable=yes
	side=0
	team_name=""
	text="Пограничная башня Свина"
	tooltip=""
	visible_in_fog=yes
	visible_in_shroud=no
	x=22
	y=14
[/label]
   [side]
        controller=human
        side=1
        {GOLD 300 250 100}
        {SWINE_STATS}
        team_name=swine
        user_team_name= _ "Сэр Гарка"
        rectuit=Kingdom_Siege_Troll,Kingdom_Halfogre_Outlaw,Kingdom_Noble_Son,Kingdom_Cleric,Kingdom_Siege_Troll
        color=red
        fog=no
        shroud=no
        [village]
		x=11
		y=11
	[/village]
	[village]
		x=24
		y=15
	[/village]
	[village]
		x=30
		y=14
	[/village]
	[village]
		x=31
		y=12
	[/village]
	[village]
		x=34
		y=13
	[/village]
	[village]
		x=39
		y=14
	[/village]
	[village]
		x=44
		y=20
	[/village]
	[village]
		x=48
		y=19
	[/village]
	[/side]
	  [side]
        controller=ai
        side=2
        {GOLD 500 600 700}
        type=Kingdom_Pan
        id=Barot
        name=_"Барот"
        team_name=ogres
        user_team_name= _ "Пан Баротт"
        recruit=Kingdom_Fire_Pig,Kingdom_Siege_Troll,Kingdom_Noble_Son,Kingdom_Heir,Kingdom_Halfogre_Outlaw,Kingdom_Halfogre_Mercenary,Kingdom_Halfogre_Bandit,Kingdom_Feudal,Kingdom_Aristocrat
        color=white
        fog=no
        shroud=no
        [village]
		x=5
		y=7
	[/village]
	[village]
		x=6
		y=4
	[/village]
	[village]
		x=6
		y=5
	[/village]
	[village]
		x=7
		y=4
	[/village]
	[village]
		x=8
		y=3
	[/village]
	[village]
		x=9
		y=4
	[/village]
	[village]
		x=11
		y=4
	[/village]
    [/side]
     [side]
        controller=ai
        side=3
        {GOLD 600 700 800}
        income=40
        team_name=khaganate
        user_team_name= _ "Змеиный Каганат"
        color=orange
        id=Khaganate_2
        name=_"Змеиный генерал"
        type=Khaganate_Naga_General
        recruit=Khaganate_Serpenthead,Khaganate_Gnoll_Biter,Khaganate_Gnoll_Ripper,Khaganate_Naga_Commander,Khaganate_Gnoll_Shredder
        hidden=no
        [village]
		x=57
		y=22
	[/village]
	[village]
		x=58
		y=20
	[/village]
	[village]
		x=59
		y=22
	[/village]
	[village]
		x=61
		y=22
	[/village]
	[village]
		x=61
		y=25
	[/village]
	[village]
		x=62
		y=20
	[/village]
	[unit]
		facing="nw"
		name="Грасу"
		type="Khaganate_Gnoll_Shredder"
		x=56
		y=16
	[/unit]
	[unit]
		facing="nw"
		name="Гхораш"
		type="Khaganate_Gnoll_Shredder"
		x=55
		y=18
	[/unit]
	[unit]
		facing="nw"
		name="Док"
		type="Khaganate_Gnoll_Shredder"
		x=55
		y=20
	[/unit]
	[unit]
		facing="nw"
		name="Гхашо"
		type="Khaganate_Gnoll_Shredder"
		x=54
		y=21
	[/unit]
	[unit]
		facing="nw"
		type="Khaganate_Great_Salamander"
		x=55
		y=21
	[/unit]
	[unit]
		facing="nw"
		type="Khaganate_Great_Salamander"
		x=55
		y=19
	[/unit]
	[unit]
		facing="nw"
		type="Khaganate_Great_Salamander"
		x=56
		y=17
	[/unit]
	[/side]
	 [side]
        controller=ai
        side=4
        {GOLD 600 700 800}
        income=40
        team_name=khaganate
        user_team_name= _ "Змеиный Каганат"
        color=orange
        id=Khaganate_3
        type=Khaganate_Naga_General
        name=_ "Змеиный генерал"
        recruit=Khaganate_Salamander,Khaganate_Nuckelavee,Khaganate_Nuckelavee_Blackspear,Khaganate_Nuckelavee_Bansheetaur
        hidden=no
        [village]
		x=49
		y=26
	[/village]
	[village]
		x=50
		y=24
	[/village]
	[village]
		x=52
		y=24
	[/village]
	[village]
		x=54
		y=23
	[/village]
	[village]
		x=55
		y=25
	[/village]
	[village]
		x=57
		y=25
	[/village]
	[village]
		x=59
		y=25
	[/village]
	[unit]
		facing="nw"
		type="Khaganate_Serpenthead_Immortal"
		x=47
		y=25
	[/unit]
	[unit]
		facing="nw"
		type="Khaganate_Serpenthead_Immortal"
		x=48
		y=23
	[/unit]
	[unit]
		facing="sw"
		type="Khaganate_Serpenthead_Immortal"
		x=50
		y=22
	[/unit]
	[unit]
		facing="sw"
		type="Khaganate_Serpenthead_Immortal"
		x=52
		y=22
	[/unit]
	[unit]
		facing="nw"
		type="Khaganate_Nuckelavee_Bansheetaur"
		x=48
		y=24
	[/unit]
	[unit]
		facing="nw"
		type="Khaganate_Nuckelavee_Bansheetaur"
		x=49
		y=23
	[/unit]
	[unit]
		facing="nw"
		type="Khaganate_Nuckelavee_Bansheetaur"
		x=51
		y=23
	[/unit]
	[unit]
		facing="nw"
		type="Khaganate_Nuckelavee_Bansheetaur"
		x=53
		y=22
	[/unit]
	[/side]
	[event]
	name=prestart
	[recall]
	id=Cleric
	x,y=9,5
	[/recall]
	{MODIFY_UNIT id=Cleric side 2}
	 [objectives]
            [objective]
                description= _ "Убейте 20 бойцов Каганата"
                condition=win
            [/objective]
            [objective]
                description= _ "Смерть Сэра Свина"
                condition=lose
            [/objective]
            {IS_LAST_SCENARIO}
        [/objectives]
        [/event]
        [event]
        name=start
        [recall]
        side=1
        x,y=33,14
        [/recall]
        [message]
        side=1
        canrecruit=no
        message=_ "Милорд! Армия Каганата преградила дорогу в наш замок!"
        [/message]
        [scroll_to]
        x=52
        y=20
        [/scroll_to]
        [delay]
        time=700
        [/delay]
        [message]
        speaker=Swine
        message=_ "Как это?! Кто, хр, пропустил их сюда?! Слабаки! Воины, слушай мою коман-"
        [/message]
        [message]
        speaker=Barot
        message=_ "Наконец я нагнал тебя, грязное отродье!"
        [/message]
        [message]
        speaker=Swine
        message=_ "Пан Барот! Хр, наконец-то! Помогите, хр, мне отбить мой зам-"
        [/message]
        [message]
        speaker=Barot
        message=_ "Заткнись! Я знаю всё о твоих преступлениях, выродок. Ты наплевал на защиту границы, отказал в помощи союзникам и убил сэра Гракка. Ты предал Королевство и опозорил меня. За это тебя вздёрну!"
        [/message]
          [message]
        speaker=Swine
        message=_ "Что-о-о?! Как?! А! Понял! Это ты оклеветал меня, предатель!"
        [/message]
         [message]
        speaker=Cleric
        message=_ "Я сообщил Пану чистую правду о ваших деяниях, милорд. Мне жаль, но будет лучше, если трон Маккорда займёт более достойный огр."
        [/message]
         [message]
        speaker=Swine
        message=_ "Я знал! Знал! Хр! И-и! Ты хочешь занять мой трон! Ар-р! Я с тобой ещё разберусь... Благородный пан, это ложь! Я защищаю границу! Я сам справлюсь с Каганатом! Он оболгал меня! Смотрите, смотрите!"
        [/message]
         [message]
        speaker=Swine
        message=_ "Воины! Слушай мою команду! Разбить Каганат до прихода благородного Пана! (может, хоть так он меня пощадит, и-и)"
        [/message]
        [/event]
        [event]
        name=attack_end
        [filter]
        side=2
        [/filter]
        [filter_second]
        side=1
        [/filter_second]
         [message]
        speaker=Swine
        message=_ "Почему ваши, хр, люди атакуют меня, ваша Светлость? Мы же должны разбить Каганат!"
        [/message]
         [message]
        speaker=Barot
        message=_ "Делай что хочешь, Свин. Я непреклонен в своём решении."
        [/message]
         [message]
        speaker=Swine
        message=_ "И-и-и-и!"
        [/message]
        [/event]
         [event]
        name=die
        first_time_only=no
        [filter]
            side=3,4
        [/filter]
        [filter_second]
            side=1
        [/filter_second]

        {VARIABLE_OP kills add 1}
        [if]
            [variable]
                name=kills
                numerical_equals=20
            [/variable]

            [then]
                [message]
                    speaker=Swine
                    message= _ "Вот, благородный пан! Мои люди, хр, нанесли Каганату весомые потери! Добьём его?"
                [/message]
                 [message]
                    speaker=Barot
                    message= _ "Ты и впрямь тупорылый. Я сказал - я вздёрну тебя!"
                [/message]
                  [message]
                    speaker=Swine
                    message= _ "И-и-и! Дело плохо, дело плохо. Надо, хр, сматываться!"
                [/message]
                [scroll_to]
                x,y=32,28
                [/scroll_to]
                [delay]
                time=700
                [/delay]
                [item]
                image="items/gohere.png"
	            visible_in_fog=yes
	            x=32
	            y=28
	            [/item]
	            [objectives]
            [objective]
                description= _ "Бегите по горной тропе!"
                condition=win
            [/objective]
            [objective]
                description= _ "Смерть Сэра Свина"
                condition=lose
            [/objective]
        [/objectives]
            [/then]
            [else]
            [/else]
        [/if]
    [/event]
    [event]
    name=moveto
    [filter]
    id=Swine
    [filter_location]
    x,y=32,28
    [/filter_location]
    [/filter]
     [message]
     speaker=Swine
     message= _ "Пусть эти предатели сами, хр-р, воюют с Каганатом. А Свин не умрёт, хр-р. Свин не должен умереть."
     [/message]
     [kill]
     id=Swine
     animate=no
     [/kill]
     [endlevel]
     result=victory
     [/endlevel]
     [/event]
    [/scenario]


                   
